{% load thumbnail %}
{% load static %}
<article>
  <ul>
    <li>
      <a class="text-decoration-none link-primary" href="{% url 'posts:profile' post.author.username %}">
        Автор: {{ post.author.get_full_name }}
      </a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
  <p>{{ post.text|linebreaksbr }}</p>
</article>
{% if post.group %}
  <a class="text-decoration-none"
    href="{% url 'posts:group_list' post.group.slug %}">
    все записи группы
  </a>
{% endif %}
<p>{{ linebreaksbr }}</p>
<button type="button" class="btn btn-outline-warning btn-sm">
  <a class="text-decoration-none"
    href="{% url 'posts:post_detail' post.id %}">
    подробная информация
  </a>
</button>
{% if not forloop.last %}
  <hr>
{% endif %}
